body {
  margin: 0;
  padding: 0;
  background-image: var(--bg-color);
  height: 100%;
}

/* font */
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Medium.ttf);
  font-display: block;
}

@font-face {
  font-family: "Mulish";
  src: url(../font/Mulish/Mulish-Italic-VariableFont_wght.ttf);
  font-display: block;
}

/* root */
:root {
  --bg-color: linear-gradient(to right, #081221, #03080f);
  --bg-card: #0e1a2b;
  --special-text: #ffffff;
  --green-text: #0dd84a;
  --text-element: #c1d1e8;
  --bg-input: #182c47;
  --bg-button: #5692e8;
  --yellow-text: #edf031;
}

.container {
  padding-right: 8em;
  padding-left: 8em;
  margin-right: auto;
  margin-left: auto;
}

/* nav-bar */

.nav {
  list-style-type: none;
  padding-top: 5em;
}

.heading-amortization {
  position: absolute;
  top: 0.8em;
  z-index: -1;
  left: 130px;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 800;
  color: var(--bg-input);
}

.nav li {
  display: inline;
  margin-left: 2.31em;
  margin-right: 5em;
}

.nav-link {
  color: var(--special-text);
  cursor: pointer;
  font-weight: 500;
  font-size: 35px;
  font-family: "Montserrat";
  text-decoration: none;
  text-transform: uppercase;
}

/* amortization page */

.main {
  padding-top: 40px;
}

.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 22% 1fr;
}

/* filter-grid */

.amortization-filter {
  background-color: var(--bg-card);
  height: 27.5em;
  padding: 1em;
}

.amortizations-list {
  height: 59em;
}

.amortization-filter__title {
  color: var(--special-text);
  font-size: 1.2em;
  font-family: "Montserrat";
}

input {
  width: 95%;
  background-color: var(--bg-input);
  border: 0px;
  font-family: Montserrat;
  color: var(--special-text);
  caret-color: white;
  height: 35px;
  padding-left: 10px;
}

select {
  background-color: var(--bg-input);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='120' fill='white'><polygon points='0,30 80,30 40,80'/></svg>");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: var(--special-text);
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

.body__item {
  margin-top: 3em;
}

.body__item--input,
.body__item--button,
.body__item--textarea,
.body__item--select {
  padding-top: 10px;
}

.body__item--button button {
  width: 100%;
  height: 34px;
  background-color: var(--bg-button);
  border: none;
  color: var(--special-text);
  cursor: pointer;
}

.body__item .clear {
  background-color: var(--bg-button);
  border: none;
  height: 35px;
  font-family: Montserrat;
  color: var(--special-text);
  padding: 5px 15px;
  cursor: pointer;
}

.clear-button {
  text-align: right;
}

.body__item label {
  font-family: Montserrat;
  font-size: 0.8em;
  color: var(--special-text);
}

input:focus-visible {
  outline-offset: 0px;
  outline: none;
}

::placeholder {
  color: var(--special-text);
  opacity: 0.8;
  font-family: Montserrat;
}

.order-grid {
  display: grid;
  grid-template-columns: 35px 1fr;
}

/* amortization list */

.card-grid {
  display: grid;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: var(--bg-card);
  grid-template-columns: 2fr 6fr 1fr;
}

.card-grid__body {
  padding: 20px;
}

.card-grid__image {
  background-color: black;
}

.card-grid__body__header,
.card-grid__body__date,
.card-grid__body__content,
.card-grid__number {
  color: var(--special-text);
  font-family: Montserrat;
}

.card-grid__body__header {
  font-size: 25px;
  width: 100%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-grid__body__date {
  margin-top: 20px;
}

.card-grid__body__content {
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-grid__number {
  display: grid;
  justify-content: center;
  align-items: center;
}

.amount_number {
  padding: 10px;
  border-radius: 50%;
  background-color: var(--bg-button);
  color: var(--special-text);
  font-size: 30px;
}

.amount_number--padding {
  padding: 10px;
}

.paid {
  color:var(--green-text);
}

.pending {
  color:var(--yellow-text);
}

.button-field button {
  width: 80px;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-right: 3em;
    padding-left: 3em;
    margin-right: auto;
    margin-left: auto;
  }

  .heading-amortization {
    left: 50px;
  }

  .heading-contact {
    left: 390px;
  }

  .contact-grid {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

@media only screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .container {
    padding-right: 2em;
    padding-left: 2em;
  }

  .heading-amortization {
    left: 33px;
  }

  .nav li {
    display: block;
    margin-left: 0.31em;
    margin-right: 5em;
    padding-bottom: 30px;
  }

  .nav-link {
    font-weight: 800;
  }

  input {
    width: 98.5%;
  }

  .amortization-filter {
    display: grid;
    height: 13em;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
  }

  .amortization-filter__body {
    display: grid;
    grid-gap: 30px;
    grid-auto-rows: 65px;
    grid-template-columns: 2fr 5fr 1fr;
  }

  .name-filter {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .body__item {
    margin-top: 0em;
  }

  .clear-button {
    text-align: right;
  }

  .clear {
    font-size: 18px;
    margin-top: 1.5em;
    width: 80%;
  }

  .card-grid {
    margin-left: 0px;
    margin-top: 40px;
  }

  .clear {
    font-size: 15px;
    margin-top: 1.7em;
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .amortization-filter__body {
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 65px;
    grid-template-columns: 2fr 5fr 1fr;
  }

  .clear-button {
    text-align: right;
  }

  .clear {
    font-size: 15px;
    margin-top: 1.7em;
    width: 100%;
  }

  .card-grid {
    display: grid;
    height: 180px;
    background-color: var(--bg-card);
    grid-template-columns: 2fr 6fr 1fr;
  }

  .card-grid__body__content {
    font-size: 14px;
    margin-top: 30px;
    width: 100%;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .badge_number {
    padding: 6px;
    border-radius: 50%;
    background-color: var(--bg-button);
    color: var(--special-text);
    font-size: 25px;
  }

  .card-grid {
    display: grid;
    height: 320px;
    position: relative;
    background-color: var(--bg-card);
    grid-auto-rows: 160px;
    grid-template-columns: 1fr;
  }

  .card-grid__body {
    padding: 20px;
  }

  .card-grid__image {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: black;
  }

  .card-grid__number {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .amortization-filter__body {
    display: grid;
    grid-gap: 30px;
    grid-auto-rows: 65px;
    grid-template-columns: 1fr;
  }

  .container {
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: auto;
  }

  .nav li {
    margin-left: 0px;
    margin-right: 0px;
  }

  .amortization-filter {
    height: 27.5em;
  }

  .name-filter {
    grid-column: 1;
  }

  .body__item {
    margin-top: 0em;
  }

  input {
    width: 97%;
  }

  .heading-amortization {
    top: 1.4em;
    left: 30px;
    font-size: 50px;
    font-weight: 800;
  }
}
